<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.apache.activemq.ActiveMQConnectionFactory" id="targetConnection">
        <property name="brokerURL" value="tcp://192.168.25.130:61616"/>
    </bean>

    <bean class="org.springframework.jms.connection.SingleConnectionFactory" name="singleConnectionFactory">
        <property name="targetConnectionFactory" ref="targetConnection"/>
    </bean>

    <bean class="org.springframework.jms.core.JmsTemplate" id="jmsTemplate">
        <property name="connectionFactory" ref="singleConnectionFactory"/>
     </bean>
    <bean class="org.apache.activemq.command.ActiveMQQueue" id="smsDestination">
        <constructor-arg value="sms"/>
    </bean>
</beans>